{
  "env": {
    "development": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
      "plugins": [
        "babel-plugin-add-module-exports",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
      ]
    },
    "test": {
      "presets": [["@babel/preset-env", { "targets": { "node": "4.3.0" } }]],
      "plugins": [
        "babel-plugin-add-module-exports",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
      ]
    },
    "production": {
      "presets": [["@babel/preset-env", { "targets": { "node": "4.3.0" } }]],
      "plugins": [
        "babel-plugin-add-module-exports",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
