{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ".*rc",
      "options": { "parser": "json" }
    }
  ]
}
