.navbar-nav.navbar-right li {
	font-size: 0;
}

.navbar-nav.navbar-right li i {
	font-size: 16px;
}

.navbar-nav.navbar-right li:nth-child(2),
.navbar-nav.navbar-right li:nth-child(3) {
	display: none;
}
