.hidden {
  position: absolute;
  left: -99999px;
  overflow: hidden;
}

.repl {
  margin-top: 50px;
  background: #FFFFFF;
  font-family: 'Source Sans Pro', Roboto, sans-serif;
}

.repl,
.repl * {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

.grid-cell {
  display: flex;
  flex: 1;
  margin-left: 1rem;
  padding: 1rem 1.5rem;
}

.grid-cell:first-child {
  margin-left: 0;
}

.grid-cell_1of2 {
  width: 50%;
}

.grid-cell_flush {
  padding: 0;
}

@media (max-width: 1600px) {
  .grid,
  .grid-cell {
    display: block;
  }

  .grid-cell {
    margin-left: 0;
    margin-top: 1rem;
  }

  .grid-cell:first-child {
    margin-top: 0;
  }

  .grid-cell_1of2 {
    width: 100%;
  }
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-cell {
  margin-left: 0.5rem;
}

.bar-cell:first-child {
  margin-left: 0;
}

.plainList,
.plainList > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input,
.input option {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-family: Consolas, Monaco, monospace;
  font-size: 1rem;
  line-height: 1.25;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  color: #495057;
}

.inputGroup {
  display: flex;
  width: 100%;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  background: #343a40;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background: #23272b;
}

.button_primary {
  background: #21ba45;
}

.button_primary:hover {
  background: #16ab39;
}

.input:focus,
.button:focus {
  outline: none;
  border-color: #80bdff;
}

.input_large,
.button_large {
  height: 2.688rem;
  font-size: 1.25rem;
}

.button_large {
  border-radius: 0 4px 4px 0;
}

.fieldset {
  border: none;
  margin: 0.5rem 0;
  padding: 0;
}

.fieldset legend {
  width: 100%;
}

h5 {
  margin: 0;
  padding: 0;
  color: #666666;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.05rem;
}

.runkit {
  width: 100%;
  overflow: hidden;
}

.curler {
  width: 100%;
}

.curler-method {
  width: auto;
}

.curler-divider {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  font-family: Consolas, Monaco, monospace;
  color: #444444;
}

.curler-divider_hugLeft {
  margin-left: 0;
}

.curler-divider_hugRight {
  margin-right: 0;
}

.curler-header {
  margin-bottom: 0.5rem;
}

.curler-removeHeader {
  margin-left: 0.5rem;
}

.curler-header:first-child .curler-removeHeader {
  visibility: hidden;
}

.curler-result {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid transparent;
}

.width100 {
  width: 100%;
}

.curler-result_success {
  border-color: #5d8c2d;
}

.curler-result_success .curler-result-status {
  color: #5d8c2d;
}

.curler-result_error {
  border-color: #8c2d2d;
}

.curler-result_error .curler-result-status {
  color: #8c2d2d;
}

.curler-result-status {
  display: flex;
}

.curler-result-status-code {
  margin-right: 0.5rem;
  font-weight: bold;
}

.curler-result-data {
  width: 100%;
  font-family: Consolas, Monaco, monospace;
  overflow: auto;
}

.codemirror {
  width: 100%;
}

.codemirror .CodeMirror {
  background: #f2f2f2;
  font-family: Consolas, Monaco, monospace;
}
